{% extends 'base.html' %}
{% block area %}
<div class="col-md-6 offset-md-2">
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Person ID</th>  
        <th>Person Name</th>  
        <th>Person Email</th>  
        <th>Person Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for x in person1 %}  
    <tr>  
        <td>{{ x.person_id }}</td>  
        <td>{{ x.person_name }}</td>  
        <td>{{ x.person_email }}</td>  
        <td>{{ x.person_contact }}</td>  
        <td>  
            <a href="/edit/{{ x.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ x.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
</div>
<br>  
<br>  
<center><a href="/" class="btn btn-primary">Add New Record</a></center>  
{% endblock %}